<script src="js/libs/carousel/jquery.cycle2.js"></script>
<script src="js/libs/carousel/jquery.cycle2.carousel.js"></script>
<!-- Add fancyBox -->
<link rel="stylesheet" href="js/libs/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="js/libs/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>

<script src="js/main.js"></script>

</body>

</html>
