body {
	margin: 0;
}
#wrapper {
    width: 1020px;
    height: auto;
    margin: 0 auto;
    z-index: 4;
    display: block;
}

#prop1 img {
    float: none;
    margin-left: 0;
}

.prop1_carousel_wrap {
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 400px;
    float: left;
    // padding: 40px;
    &:before {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
    .prop1_carousel {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        // height: 380px;
        float: none;
        > div[class*="prop1_"] {
            position: absolute;
        }
    }
}
.prop1_carousel_wrap ~ #prop1Link {
	display: none;
}
.prop1_pc {
    width: 100%;
    z-index: 99;
    .carousel_wrap {
        position: relative;
        display: inline-block;
        .carousel_device {
            img {
                max-width: 100%;
            }
        }
        .carousel {
            position: absolute;
            left: 3.5%;
            top: 4.2%;
            width: 93%;
            height: 65.6%;
            overflow: hidden;
            overflow-y: auto;
            img {
                max-width: 100%;
            }
        }
    }
}

.prop1_tablet {
    width: 40%;
    z-index: 999;
    left: 2%;
    bottom: 4%;
    .carousel_wrap {
        position: relative;
        display: inline-block;
        .carousel_device {
            img {
                max-width: 100%;
            }
        }
        .carousel {
            position: absolute;
            left: 11%;
            top: 9%;
            width: 79%;
            height: 81.5%;
            overflow: hidden;
            overflow-y: auto;
            img {
                max-width: 100%;
            }
        }
    }
}

.prop1_smartphone {
    width: 20%;
    z-index: 9999;
    left: 45%;
    bottom: 4%;
    .carousel_wrap {
        position: relative;
        display: inline-block;
        .carousel_device {
            img {
                max-width: 100%;
            }
        }
        .carousel {
            position: absolute;
            left: 7%;
            top: 11.5%;
            height: 76%;
            width: 85.5%;
            overflow: hidden;
            overflow-y: auto;
            img {
                max-width: 100%;
            }
        }
    }
}

.carousel_wrap {
    .carousel {
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar {
            width: 4px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #ccc;
        }
    }
}

.cycle-slide {
    display: none!important;
}

.cycle-slide.cycle-slide-active {
    display: block!important;
}

#prop1Link {
    position: static;
    margin: 20px auto;
}

#preim {
    position: static;
    height: auto;
    height: initial;
}

.preim_wrap {
    text-align: center;
    .preim_item {
        display: inline-block;
        text-align: center;
        width: 300px;
        height: 250px;
        vertical-align: top;
        .preim_stat {
            position: relative;
            display: inline-block;
            width: 150px;
            height: 150px;
            color: #fff;
            font-weight: bold;
            font-size: 60px;
            line-height: 150px;
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: #726a7b;
                border-radius: 50%;
                z-index: -1;
            }
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 10%;
                top: 5%;
                background-color: #eaeaea;
                border-radius: 50%;
                z-index: -2;
            }
        }
        .preim_text {
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            color: #726a7b;
            line-height: 30px;
        }
    }
    .preim_row:first-child {
        .preim_item:first-child {
            .preim_stat {
                font-size: 20px;
            }
        }
    }
}

.preim_descr {
    margin-top: 60px;
    padding-bottom: 50px;
    p {
        font-family: PN, Arial, sans-serif;
        font-size: 30px;
        text-align: center;
        color: #726a7b;
        line-height: 30px;
        margin: 10px 0;
        &:before {
            content: url(../img/preimGal.png);
            display: inline-block;
            margin-right: 5px;
        }
    }
}

@media only screen and (max-width: 980px) {
    #wrapper {
        margin-top: 0!important;
    }
    #prop1 {
        height: auto!important;
    }

	.prop1_carousel_wrap ~ #prop1Link {
		position: static!important;
		margin-bottom: 20px!important;
	}
    #prop1 img {
    	margin: 0!important;
    }
    .prop1_carousel_wrap {
    	float: none;
    }
    .prop1_carousel {
        margin: 0 auto;
    }
    #preim_container {
        height: auto!important;
    }
    #preim {
        width: 100% !important;
        height: auto!important;
        margin: 0 auto;
        margin-top: 0px !important;
        position: relative;
        box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.1) !important;
        position: relative !important;
    }
    .preim_wrap {
        .preim_item {
            width: 100px;
            height: 180px;
            .preim_stat {
                width: 80px;
                height: 80px;
                font-size: 30px;
                line-height: 80px;
            }
            .preim_text {
                font-size: 12px;
                line-height: 12px;
            }
        }
	    .preim_row:first-child {
	        .preim_item:first-child {
	            .preim_stat {
	                font-size: 10px;
	            }
	        }
	    }
    }
    .preim_descr {
        margin-top: 30px;
        padding-bottom: 20px;
        p {
            font-size: 12px;
            line-height: 20px;
            margin: 10px 0;
            &:before {
                content: '';
                background-image: url(../img/preimGal.png);
                background-size: cover;
                display: inline-block;
                margin-right: 5px;
                width: 20px;
                height: 20px;
            }
        }
    }
}
