/* GENERAL */

@font-face {
       font-family: PN;
       src: url('font/ProximaNovaRegular.eot'); /* IE9 Compat Modes */
       src: url('font/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url("font/ProximaNovaRegular.otf") format("opentype");
}

@font-face {
       font-family: PN;
       font-weight: bold;
       src: url('font/ProximaNovaBold.eot'); /* IE9 Compat Modes */
       src: url('font/ProximaNovaBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
              url("font/ProximaNovaBold.otf") format("opentype");
}

@font-face {
       font-family: PN;
       font-style: italic;
       src: url('font/ProximaNovaRegularItalic.eot'); /* IE9 Compat Modes */
       src: url('font/ProximaNovaRegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
              url("font/ProximaNovaRegularItalic.otf") format("opentype");
}

@font-face {
       font-family: PNL;
       src: url('font/ProximaNovaLight.eot'); /* IE9 Compat Modes */
       src: url('font/ProximaNovaLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
              url("font/ProximaNovaLight.otf") format("opentype");
}

@font-face {
       font-family: PNSB;
       src: url('font/ProximaNovaSemibold.eot'); /* IE9 Compat Modes */
       src: url('font/ProximaNovaSemibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
              url("font/ProximaNovaSemibold.otf") format("opentype");
}

@font-face {
       font-family: PNSB;
       font-style: italic;
       src: url('font/ProximaNovaSemiboldItalic.eot'); /* IE9 Compat Modes */
       src: url('font/ProximaNovaSemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
              url("font/ProximaNovaSemiboldItalic.otf") format("opentype");
}

@font-face {
       font-family: PNEB;
       src: url('font/ProximaNovaExtrabold.eot'); /* IE9 Compat Modes */
       src: url('font/ProximaNovaExtrabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
              url("font/ProximaNovaExtrabold.otf") format("opentype");
}

div[id^="mobile_modal"] {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 10000;
    background-image: url(/plugins/gs-blog/images/ibg.png);
    background-repeat: repeat;
}

#m_all_works_text {
    display: none;
}

@media only screen and (max-width: 1040px) {
       #wrapper {
               width: 960px !important;
       }
       #content_shadow {
               padding: 0px !important;
       }
       #content_shadow_end {
               padding: 0px !important;
       }
       #portfolio_block {
               width: 960px !important;
       }
       .one_site {
               margin-left: 18px !important;
               margin-right: 5px !important;
       }
}

@media only screen and (max-width: 980px) {
        body {
               width: 100%;
        }
        #wrapper {
               margin-top: -170px !important; 
               float: left !important;
               width: 100% !important;
        }
        #header_bg {
               height: 204px !important;
               background-image: url(/theme/Innovation/images/mobile_header_bg.jpg) !important;
        }
        #header_menu_container {
               height: auto !important;
               background-color: #433E48 !important;
        }
        #header_menu {
               height: auto !important;
               width: 100% !important;
        }

        #mobile_head_menu {
               width: 100%;
               height: 34px;
        }

        #mobile_head_menu  #logo {
               width: 25px !important;
               height: 20px !important;
               background-size: cover !important;
               top: 0px !important;
               left: 20px !important;
               margin: 7px 0px !important;
        }
        #mobile_head_menu  #logo:after {
               clear: both;
        }

.only_mobile {
       display: block !important;
}

#DayPlus
{
        display: none;
  position: absolute; 
  right: 15px; 
  top: 145px;
  font-size: 16px;
  text-align: center;
}

        #mobile_head_menu  #menu_for_mobile {
               display: block !important;
               float: right;
               width: 15px;
               height: 10px;
               background-image: url(/theme/Innovation/images/menu_button.png);
               background-position: center center;
               background-repeat: no-repeat;
               padding: 12px 5px;
               position: relative;
               right: 15px;
               cursor: pointer;
        }

        #header_menu > ul {
              width: 100% !important;
              padding: 0px !important;
              text-align: left  !important;
              height: auto !important;
              float: left !important;
              margin-top: 0px !important;
              display: none;
        }

        #header_menu > ul li {
              display: block !important;
              text-align: left !important;
              height: 40px !important; 
              padding: 0px !important;
              width: 100% !important;
        }

        #header_menu > ul li > a {
              padding: 0px !important;
              margin: 0px 20px !important;
              height: 40px  !important;
              line-height: 40px  !important;
              font-size: 14px !important;
              width: auto !important;
        }

        #header_menu > ul li:first-child > a {
              border-top: 1px solid #dfcff0;
        }


        #header_slogan {
              width: 100% !important;
              height: 12px !important; 
              text-align: center;
              margin: 0px auto !important;
              margin-top: 56px !important;
              margin-top: 37px !important;
        }

        .header_slogan_line {
               display: none !important;
        } 

        #header_slogan_text {
               width: 100% !important;
               height: 12px !important;
               text-align: center !important;
               line-height: 12px !important;
               font-size: 12px !important;
        }

        #header_description { 
               width: 100% !important;
               height: 18px !important;
               line-height: 18px !important;
               font-size: 18px !important;
               margin: 0px auto !important;
        }

        #header_where {
               width: 120px !important;
               height: 20px !important;
               line-height: 20px !important;
               margin: 0px auto !important;
               margin-top: 10px !important;
               font-size: 15px !important;
        }

        #header_contacts {
               width: 100% !important;
               height: 35px !important;
               margin-top: 20px !important;
               margin-top: 39px !important;
        }

        #header_phone_image {
               display: none !important; 
        }

        #header_phone {
               display: block !important;
               width: 85px !important; 
               padding-left: 10px !important;
               height: 35px !important;
               line-height: 35px !important;
               font-size: 10px !important;
               margin: 0px !important;
        }

        #header_phone > span {
               font-size: 10px !important;          
        }

        #header_mail_image {
               display: none  !important; 
        }

        #header_mail {
               display: block !important;
               width: 70px !important; 
               padding-left: 10px !important;
               height: 35px !important;
               line-height: 35px !important;
               font-size: 10px !important;
               margin: 0px !important;
        }

        #header_callback_image {
               display: none  !important; 
        }

        #header_callback {
               display: block  !important;
               width: 135px  !important; 
               padding-left: 0px  !important;
               padding-right: 10px  !important;
               height: 35px  !important;
               line-height: 35px  !important;
               font-size: 10px  !important;
               float: right  !important;
               text-align: right  !important;
               margin: 0px !important;
        }

        #white_indent {
              display: none !important;
        }



/*-----------------------------------CONTENT--------------------------------------*/


        #content_shadow {
               width: auto !important;
               padding: 0px 20px !important;
               height: auto !important;
               margin: 0 auto !important;
               background-image: none !important;
        }

        #content_shadow_end {
               display: none !important;
        }

        #main_content {
               width: 100% !important;
        }


        #content_proposition {
               width: 100% !important;
               height: auto !important;
               font-size: 15px !important;
               padding: 17px 0px !important;
               line-height: 15px !important;
        }


        #prop1 {
               width: 100% !important;
                height: 100% !important;
               padding: 0px !important;
               overflow: auto !important;
               margin-top: 0px  !important;
               text-align: center !important;
               padding-bottom: 0px !important;
        }

        #prop1 img { 
               float: none !important;
               max-width: 100% !important;
               margin: 0px auto !important;
                position: relative;
                margin-top: 70px !important;
                margin-bottom: 30px !important;
        }
        #prop1_desc {
               display: block !important;
        }
        #prop1 p {
               display: none !important;
        }

        #prop1 span {
               width: 100% !important;
               display: block !important;
               font-size: 15px !important;
               line-height: 20px !important;
               text-align: center !important;
            font-weight: bold !important;
        }
    
        #prop1Link {
            display: block !important;
            width: 157px !important;
            height: 21px !important;
            background: #726a7b !important;
            font-family: Arial Black, PNSB, Arial, sans-serif;
            font-size: 12px !important;
            border: none !important;
            border-radius: 0 !important;
            color: white !important;
            text-decoration: none !important;
            text-align: center !important;
            line-height: 14px !important;
            padding-top: 8px !important;
            position: absolute !important;
            top: 60px !important;
            margin: 0 auto !important;
            left: 0 !important;
            right: 0 !important;
        }

        .MobileLink
        {
            color: #433e48  !important;
            text-decoration: none  !important;
            border-bottom: 1px dashed #433e48;
            font-weight: normal!important;
        }

        #prop2 {
               height: auto !important;
               width: 100% !important;
               padding: 0px !important;
               overflow: auto !important;
               margin-top: 0px  !important;
               text-align: center !important;
               padding-bottom: 20px !important;
        }

        #prop2 img {
               float: none !important;
               max-width: 100% !important;
               margin: 0px auto !important;
        }

        #prop2_desc {
               display: block !important;
        }

        #prop2 p {
               display: none !important;
        }

        #prop2 span {
               margin-top: 22px !important;
               width: 100% !important;
               display: block !important;
               font-size: 15px !important;
               line-height: 20px !important;
               text-align: center !important;
        }




        #prop3 {
               height: auto !important;
               width: 100% !important;
               padding: 0px !important;
               overflow: auto !important;
               margin-top: 0px  !important;
               text-align: center !important;
               padding-bottom: 20px !important;
        }

        #prop3 img {
               float: none !important;
               max-width: 100% !important;
               margin: 0px auto !important;
        }

        #prop3_desc {
               display: block !important;
        }
        #prop3 p {
               display: none !important;
        }


        #prop3 span {
               margin-top: 22px !important;
               width: 100% !important;
               display: block !important;
               font-size: 15px !important;
               line-height: 20px !important;
               text-align: center !important;
        }




        #prop4 {
               height: auto !important;
               width: 100% !important;
               padding: 0px !important;
               overflow: auto !important;
               margin-top: 0px  !important;
               text-align: center !important;
               padding-bottom: 20px !important;
        }

        #prop4 img {
               float: none !important;
               max-width: 100% !important;
               margin: 0px auto !important;
        }

        #prop4_desc {
               display: block !important;
        }

        #prop4 p {
               display: none !important;
        }

        #prop4 span {
               margin-top: 22px !important;
               width: 100% !important;
               display: block !important;
               font-size: 15px !important;
               line-height: 20px !important;
               text-align: center !important;
        }        





        #prop5 {
               height: auto !important;
               width: auto !important;
               padding: 0px 20px !important;
               overflow: auto !important;
               margin-top: 0px  !important;
               text-align: center !important;
               border-bottom: 1px solid #dfcff0 !important;
               padding-bottom: 20px !important;
        }

        #prop5 img {
               float: none !important;
               max-width: 100% !important;
               margin: 0px auto !important;
        }

        #prop5_desc {
               display: block !important;
        }

        #prop5 p {
               display: none !important;
        }

        #prop5 span {
               margin-top: 22px !important;
               width: 100% !important;
               display: block !important;
               font-size: 15px !important;
               line-height: 20px !important;
               text-align: center !important;
        }


        #prop6 {
               height: auto !important;
               width: 100% !important;
               padding: 0px !important;
               overflow: auto !important;
               margin-top: 0px  !important;
               text-align: center !important;
               padding-bottom: 20px !important;
        }

        #prop6 img {
               float: none !important;
               max-width: 100% !important;
               margin: 0px auto !important;
        }

        #prop6_desc {
               display: block !important;
        }

        #prop6 p {
               display: none !important;
        }

        #prop6 span {
               margin-top: 22px !important;
               width: 100% !important;
               display: block !important;
               font-size: 15px !important;
               line-height: 20px !important;
               text-align: center !important;
        }        





/*----------------------------------------SMETA------------------------------------------*/


        #couple_questions {
              width: auto !important;
              padding: 0px 20px !important;
              height: 12px !important;
              line-height: 12px !important;
              font-size: 10px !important;
              text-align: center !important;
              margin-top: 30px !important;
        }

       #make_smeta {
              width: auto !important; 
              padding: 0px 20px !important;
              height: auto !important;
              line-height: 15px !important;
              text-align: center !important;
              font-size: 15px !important;
              margin-bottom: 3px !important;
       }

       .smeta_about {
              width: auto !important; 
              padding: 0px 20px !important;
              margin-top: 0px !important;
              font-size: 12px !important;
       }

       #smeta_form {
              width: auto !important;
              padding: 0px 20px !important;
              float: none !important;
              height: auto !important;
              background-image: none !important;
              margin-top: 18px !important;
       }

       input[type="text"] {
               height: 23px !important;
               border: 1px solid #cabbd9 !important;
               font-size: 10px !important;
               padding-left: 0px !important;
               margin-bottom: 9px !important;
               -webkit-appearance: none;
       }

       #name {
              width: 100% !important;
       }

       #phone {
              width: 50% !important;
       }

       #email {
              width: 45% !important;
       }

       #service {
              width: 100% !important;
       }

       #question {
              padding: 0px !important;
              width: 100% !important;
              height: 75px !important;
              font-size: 10px !important;
              color: #726a7b !important;
              margin-bottom: 8px !important;
              -webkit-appearance: none;
       }


       #smeta_success {
              width: 100% !important;
              height: 25px !important;
              line-height: 25px !important;
              font-size: 12px !important;
       }
  
    #smetaSuccessWindow
    {
      position: absolute;
      width: 300px !important;
      height: 150px !important;
      left: 0 !important;
      right: 0 !important;
      margin: 0 auto !important;
      top: 20px !important;
      background: #726a7b;
      z-index: 100;
      border: 2px solid #433e48;
    }

    #smetaKrestik {
      position: absolute;
      top: 10px !important;
      right: 10px !important;
      width: 20px !important
    }

    #smetaKrestik:hover {
      cursor: pointer;
    }

    #smetaWindowText {
      font-family: PN, Arial, sans-serif;
      font-size: 14px !important;
      color: white;
      text-align: center;
      padding-top: 50px !important;
    }

       #four_hours {
              display: none !important;
       }

       #send_smeta {
              display: block !important;
              width: 100% !important;
              height: 26px !important;
              margin: 0px auto 15px auto !important;
              float: none ;
               font-size: 10px !important;
       }
    
        /* РјРѕР±РёР»СЊРЅР°СЏ РІРµСЂСЃРёСЏ РєРЅРѕРїРєРё "РѕСЃС‚Р°РІРёС‚СЊ Р·Р°СЏРІРєСѓ" */
        #send_smeta2 {
            display: block !important;
            width: 100%;
            border: none;
            border-radius: 0;
            background: #726a7b;
            color: white;
            height: 26px;
            font-family: PNSB, Arial, sans-serif  !important;
            font-size: 10px;
            text-transform: uppercase;
        }

       #smeta_form_indent {
              display: none !important;
       }

/*---------------------------------------PORTFOLIO---------------------------------------------*/


       #portfolio_title {
              width: auto !important;
              heigth: 30px !important;
              line-height: 30px !important;
              font-size: 15px !important;
              margin-top: 50px !important;
           display: none !important; /* СѓР±РёСЂР°РµРј РёР· РјРѕР±РёР»СЊРЅРѕР№ РІРµСЂСЃРёРё */
       }

       #portfolio_see_all {
              width: 160px  !important;
              height: 18px  !important;
              line-height: 18px  !important;
              display: block  !important;
              text-align: center  !important;
              margin: 0 auto  !important;
              position: relative   !important;
              top: 0px   !important;
              right: 0px   !important;
              font-family: PNSB, Arial, sans-serif  !important;
              font-style: italic  !important;
              font-size: 14px  !important;
              font-weight: bold  !important;
              color: #726a7b  !important;
              text-decoration: underline  !important;
           display: none !important; /* СѓР±РёСЂР°РµРј РёР· РјРѕР±РёР»СЊРЅРѕР№ РІРµСЂСЃРёРё */
       }

       #portfolio_see_all:hover {
              text-decoration: none !important;
       }


       #all_works_text {
              width: auto !important;
              height: 25px !important;
              margin-top: 10px !important;
              margin-bottom: 10px !important;
           display: none !important; /* СѓР±РёСЂР°РµРј РёР· РјРѕР±РёР»СЊРЅРѕР№ РІРµСЂСЃРёРё */
       }

       #all_works_text > span {
              display: none !important;
       }

       #all_works_text > a {
              width: 200px !important;
              height: 35px !important; 
              float: none !important;
              background-image: none !important;
              background-color: #433E48  !important;
              line-height: 35px !important;
              color: #fff  !important;
              font-family: PNSB, Arial, sans-serif;
              font-size: 14px  !important;
              text-align: center  !important;
              margin: 35px auto !important;
       }
       
       #m_all_works_text {
              width: 100% !important;
              height: 25px !important;
              padding: 20px 0px;
              margin-top: 10px !important;
              margin-bottom: 10px !important;
              display: block; /* СѓР±РёСЂР°РµРј РёР· РјРѕР±РёР»СЊРЅРѕР№ РІРµСЂСЃРёРё */
              float: left;
       }
       
       #m_all_works_text > a {
              width: 200px !important;
              height: 35px !important; 
              display: block;
              float: none !important;
              background-image: none !important;
              background-color: #433E48  !important;
              line-height: 35px !important;
              color: #fff  !important;
              font-family: PNSB, Arial, sans-serif;
              font-size: 14px  !important;
              text-decoration: none !important;
              text-align: center  !important;
              margin: 0px auto !important;
       }

       #portfolio_block {
              width: auto !important;
              padding: 0px 20px !important;
              min-height: 100px !important;
              height: auto !important;
              margin: 0px !important;
           display: none !important; /* СѓР±РёСЂР°РµРј РёР· РјРѕР±РёР»СЊРЅРѕР№ РІРµСЂСЃРёРё СЃР°Р№С‚Р° */
       }
 
       .one_site {
              margin: 0px auto !important;
              padding-left: 21px !important;
              float: none !important;
              height: 230px !important;
       }

       .port_link {
              font-size: 12px !important;
              height: 25px !important;
       }

/*------------------------------------PROUD---------------------------------------------*/

       #proud_background {
            width: 100%;
            height: 1226px !important;
            float: left;
            position: relative;
            background-color: #f5f2f2;
       }
    
        #proud_title {
               display: block;
               width: 100% !important;
               height: 20px !important; 
               line-height: 20px !important;
               margin: 0 auto;
               font-family: PN, Arial, sans-serif;
               font-size: 20px !important;
               font-weight: bold;
               color: #433e48;
               text-align: center;
               margin-top: 30px !important;
        }

        #proud_desc {
               display: block;
               width: 100% !important;
               height: 12px !important; 
               line-height: 12px !important;
               margin: 0 auto;
               font-family: PN, Arial, sans-serif;
               font-size: 12px !important;
               color: #726a7b;
               text-align: center;
               margin-top: 2px;
        }


        #proud_container {
               width: 100%  !important;
               height: auto;
               margin: 0 auto;
               margin-top: 21px  !important;
               overflow: auto;
        }


        #proud1 {
               height: 290px !important;
               border: 1px solid #dfcff0;
               float: left;
                /*margin-left: 20px !important;
                margin-right: 20px !important;
                width: calc(100% - 40px) !important;*/
                width: 100% !important;
                box-sizing: border-box !important;
                min-width: 320px  !important;
        }

        #proud1 > h2 {
               display: block;
                height: 94px !important;
               width: 90% !important;
               font-weight: normal;
               font-family: PNL, Arial, sans-serif;
               font-size: 18px !important;
               color: #726a7b;
               text-align: left;
               padding: 16px 0px 0px 10px !important;
        }

        #proud1 > img {
               display: block;
               float: left;
               margin-left: 4% !important;
               margin-left: 13px !important;
                width: 38% !important;
                width: 106px !important;
        }


        #proud1 > p {
               display: block;
               float: right;
               width: calc(100% - 144px) !important;
               font-family: PN, Arial, sans-serif;
               font-size: 10px !important;
               padding-right: 10px !important;
               color: #726a7b;
               text-align: left;
               line-height: 14px !important;
        }


        #proud1 span {
               font-size: 8px  !important;
               display: block;
               margin-top: 20px  !important;
        }


        #proud1 > a {
               width: 78px  !important;
               height: 24px !important;
               display: block;
               float: right;
               background-color: #726a7b;
               line-height: 24px  !important;
               text-align: center;
               font-family: PNSB, Arial, sans-serif;
               font-size: 8px  !important;
               color: #ffffff;
               text-decoration: none;
               margin-right: 68px  !important;
               margin-top: 41px  !important;
        }

        #proud2 {
                height: 286px !important;
                border: 1px solid #dfcff0;
                float: left  !important;
                /*margin-left: 20px !important;
                margin-right: 20px !important;
                width: calc(100% - 40px) !important;*/
                width: 100% !important;
                box-sizing: border-box !important;
                min-width: 320px  !important;
                margin-top: 12px !important;
        }

        #proud2 > h2 {
               display: block;
                height: 94px !important;
                width: 90% !important;
                font-weight: normal;
                font-family: PNL, Arial, sans-serif;
               font-size: 18px !important;
               color: #726a7b;
               text-align: left;
               padding: 16px 0px 0px 10px !important;
        }

        #proud2 > img {
               display: block;
                float: left;
                margin-left: 13px !important;
                width: 106px !important;
        }

        #proud2 > p {
               display: block;
               float: right;
               width: calc(100% - 144px) !important;
               font-family: PN, Arial, sans-serif;
               font-size: 10px !important;
               padding-right: 10px !important;
               color: #726a7b;
               text-align: left;
               line-height: 14px !important;
        }

        #proud2 span {
               font-size: 8px  !important;
               display: block;
               margin-top: 20px  !important;
        }

        #proud2 > a {
               width: 78px  !important;
                height: 24px !important;
               display: block;
               float: right;
               background-color: #726a7b;
               line-height: 24px  !important;
               text-align: center;
               font-family: PNSB, Arial, sans-serif;
               font-size: 8px  !important;
               color: #ffffff;
               text-decoration: none;
               margin-right: 68px  !important;
               margin-top: 13px  !important;
        }

        #proud3 {
               height: 308px !important;
                border: 1px solid #dfcff0;
                float: left  !important;
                /*margin-left: 20px !important;
                margin-right: 20px !important;
                width: calc(100% - 40px) !important;*/
                width: 100% !important;
                box-sizing: border-box !important;
                min-width: 320px  !important;
                margin-top: 12px !important;
                position: relative  !important;
        }

        #proud3 > h2 {
               display: block;
               height: 94px !important;
                width: 90%  !important;
                font-weight: normal;
                font-family: PNL, Arial, sans-serif;
               font-size: 18px !important;
               color: #726a7b;
               text-align: left;
               padding: 16px 0px 0px 10px !important;
        }

        #proud3  #pod_img1 {
               display: block;
               float: left;
               width: calc(50% - 24px) !important;
               max-width: 145px !important;
                height: auto !important; 
               margin: 80px 6px 0 6px !important;
        }

        #proud3  #pod_img2 {
               display: block;
               float: left;
               width: calc(50% - 24px) !important;
               max-width: 145px !important;
                height: auto !important; 
               margin: 80px 6px 0 6px !important;
        }

        #proud3 > p {
               display: block;
               float: left;
               width: 90% !important;
               padding: 0px  !important;
               font-family: PN, Arial, sans-serif;
               font-size: 10px !important;
               color: #726a7b;
               text-align: left;
               line-height: 14px !important;
                position: absolute !important;
                top: 64px !important;
                left: 11px !important;
        }


        #proud3 span {
               font-size: 10px !important;
               display: block;
               width: 100% !important;
               float: left;
               margin-top: 20px  !important;
        }


        #proud3  a {
               width: 78px  !important;
               height: 24px !important;
               display: block;
               float: left !important;
               background-color: #726a7b;
               line-height: 24px  !important;
               text-align: center;
               font-family: PNSB, Arial, sans-serif;
               font-size: 8px  !important;
               color: #ffffff;
               text-decoration: none;
               margin-left: 0px  !important;
               margin-top: 18px  !important;
        }

        #proud4 {
               height: 176px !important;
                border: 1px solid #dfcff0;
                float: left  !important;
                /*margin-left: 20px !important;
                margin-right: 20px !important;
                width: calc(100% - 40px) !important;*/
                width: 100% !important;
                box-sizing: border-box !important;
                min-width: 320px  !important;
                margin-top: 12px !important;
                position: relative  !important;
        }

        #proud4 > h2 {
               display: none;
        }

        #proud4 #h2ForMob {
            display: block !important;
            height: auto!important;
            width: 90%  !important;
           font-weight: normal;
           font-family: PNL, Arial, sans-serif;
           font-size: 18px !important;
           line-height: 24px !important;
           color: #726a7b;
           text-align: left;
           padding: 16px 0px 0px 10px !important;
        }

        #proud4 #gal_img1 {
            display: block;
            float: left;
            width: 122px !important;
            max-width: 145px !important;
            height: auto !important; 
            margin: 11px 6px 0 6px !important;
            position: relative !important;
            left: 0 !important;
            top: 0 !important;
        }

        #proud4 #gal_img2 {
            display: block;
            float: right;
            width: 122px !important;
            max-width: 145px !important;
            height: auto !important; 
            margin: 11px 6px 0 6px !important;
            position: relative !important;
            left: 0 !important;
            top: 0 !important;
        }

        #proud5 {
               height: 176px !important;
                border: 1px solid #dfcff0;
                float: left  !important;
                /*margin-left: 20px !important;
                margin-right: 20px !important;
                width: calc(100% - 40px) !important;*/
                width: 100% !important;
                box-sizing: border-box !important;
                min-width: 320px  !important;
                margin-top: 12px !important;
                position: relative  !important;
        }

        #proud5 > h2 {
               display: none;
        }
    
        #proud5 #h2ForMob2 {
            display: block !important;
            height: auto!important;
            width: 90%  !important;
           font-weight: normal;
           font-family: PNL, Arial, sans-serif;
           font-size: 18px !important;
           line-height: 24px !important;
           color: #726a7b;
           text-align: left;
           padding: 16px 0px 0px 10px !important;
        }


        #proud5 #lux_img1 {
            display: block;
            float: left;
            width: 122px !important;
            max-width: 145px !important;
            height: auto !important; 
            margin: 11px 6px 0 6px !important;
            position: relative !important;
            left: 0 !important;
            top: 0 !important;
        }

        #proud5 #lux_img2 {
            display: block;
            float: right;
            width: 122px !important;
            max-width: 145px !important;
            height: auto !important; 
            margin: 11px 6px 0 6px !important;
            position: relative !important;
            left: 0 !important;
            top: 0 !important;
        }



/*-----------------------------------CLIENTS--------------------------------------*/

       #clients_container {
              height: auto !important;
       }

       #clients_title {
              font-size: 15px !important;
              width: auto !important;
              height: 20px !important;
              line-height: 20px !important;
              margin-top: 45px !important;
       }

       #client_pics {
              width: 280px !important;
              padding: 0px 20px !important;
              height: 230px !important;
              margin: 0 auto !important;
              float: none !important;
       }

       .client_pic {
              width: 95px !important;
              height: 66px !important;
              padding: 0px !important;
              margin-top: 20px !important;
              position: relative !important;
              float: left !important;
              border: 1px solid #b2b9c0 !important;
              -webkit-box-shadow: none !important;
              -moz-box-shadow: none !important;
              box-shadow:  none !important;
       }

       .main_pic {
              -webkit-box-shadow: 0px 0px 30px 0px rgba(44, 63, 82, 0.75) !important;
              -moz-box-shadow:    0px 0px 30px 0px rgba(44, 63, 82, 0.75) !important;
              box-shadow:         0px 0px 30px 0px rgba(44, 63, 82, 0.75) !important;
       }

       .mob_cl_1 {
              margin-left: 0px !important;
       }
       .mob_cl_2 {
              margin-left: -8px !important;
       }
       .mob_cl_3 {
              margin-left: -8px !important;
       }

       .not_mobile {
              display: none !important;
       }

/*---------------------------------------------РџСЂРµРёРјСѓС‰РµСЃС‚РІР°--------------------------------------------------*/
    
    #preim_container {
        width: 100%;
        margin: 0 auto;
        float: left;
        height: 247px !important;;
    }

    #preim {
        width: 100% !important;
        height: 100% !important;
        margin: 0 auto;
        margin-top: 0px !important;
        position: relative;
        box-shadow: 0 20px 20px 0px  rgba(0,0,0,0.1) !important; 
        position: relative !important;
    }

    #preimH2 {
        font-family: PN, Arial, sans-serif;
        font-weight: bold;
        font-size: 15px !important;
        text-align: center;
        padding-top: 20px !important;
        color: #69656d;
    }

    #preim #preimImg1, #preimImg2, #preimImg3 {
        position: absolute;
        top: 62px !important;
        width: 57px  !important;
    }

    #preimImg1 {
         left: calc(25% - 28px)  !important; 
    }

    #preimImg2 {
         left: calc(50% - 28px)  !important; 
    }

    #preimImg3 {
         left: calc(75% - 28px)  !important; 
    }

    #preim #preimText1_1, #preimText1_2, #preimText1_3 {
        position: absolute;
        top: 130px !important;
        font-family: PN, Arial, sans-serif;
        font-weight: normal !important;
        font-size: 11px !important;
        text-align: center;
        color: #726a7b;
        line-height: 11px !important;
        width: 100px !important;
    }

    #preimText1_1 {
        left: calc(25% - 50px)  !important; 
    }

    #preimText1_2 {
        left: calc(50% - 50px)  !important; 
    }

    #preimText1_3 {
        left: calc(75% - 50px)  !important; 
    }

    #preim #preimText2_1 {
        position: absolute;
        top: 188px !important;
        font-family: PN, Arial, sans-serif;
        font-size: 12px !important;
        text-align: center;
        color: #726a7b;
        line-height: 20px !important;
        width: 100% !important;
    }

#preimImg4 {
    position: absolute;
    top: 188px !important;
    left: calc(50% - 120px) !important;
    width: 15px !important;
}

#preimImg5 {
    position: absolute;
    top: 208px !important;
    left: 143px;
    left: calc(50% - 140px) !important;
    width: 15px !important;
}
/*---------------------------------------------CONTACTS--------------------------------------------------*/

       #contacts_container {
              height: auto !important;
       }

       #contacts {
              width: 100% !important;
              height: auto !important;
              border-top: 0px solid #dfcff0 !important;
              margin-top: 20px !important;
       }

       #contacts_title {
              font-size: 15px !important;
              width: 100% !important;
              height: 20px !important;
              line-height: 20px !important;
              margin-top: 10px !important;
              margin-bottom: 10px !important;
       }

       #contacts_desc {
              width: auto !important;
              padding: 0px 20px !important;
              height: auto !important;
              float: left !important;
       }

       #contacts_address {
              font-size: 12px !important;
              line-height: 18px !important;
       }

       #contacts_address > span {
              font-size: 12px !important;
       }


       #contacts_phone {
              padding-left: 0px !important;
              width: auto !important;
              height: 20px !important;
              text-align: left !important;
              line-height: 20px !important;
              background-image: none !important;
              font-size: 15px !important;
              margin-top: 10px !important;
       }

       #contacts_phone > span {
              font-size: 15px !important;
       } 

       #contacts_phone > b {
              display: inline !important;
       } 

       #contacts_mail {
              padding-left: 0px !important; 
              margin-top: 10px !important;
              width: 100% !important;
              height: 20px !important;
              line-height: 20px !important;
              background-image: none !important;
              font-size: 15px !important;
              text-decoration: underline !important;
       }

       #contacts_mail > b {
              display: inline !important;
       } 

       #contacts_map {
              width: 100% !important;
              height: 185px !important;
              margin-top: 10px !important;
              float: left !important;
       }

       #work_from {
              height: 40px !important;
              float: left !important;
              line-height: 40px !important;
              width: 100% !important;
              font-size: 8px !important;
       }

/*-----------------------------------------------------CALLBACK----------------------------------------------------*/

       #callback_rect {
               margin-top: 40px !important;
       }

        #callback_rect input[type="text"] {
            height: 26px !important;
            border: 1px solid #b9b2bc !important;
            font-size: 14px !important;
            padding-left: 0px !important;
            margin-bottom: 10px !important;
            -webkit-appearance: none !important;
       }

/*--------------------------------------------------PORTFOLIO----------------------------------------------------*/

       #port_header_menu_container {
              height: 44px !important;
       }

       #port_header_menu {
               width: auto !important;
               padding: 0px 20px !important;
               height: 44px !important;
               float: left !important;
               margin: 0 !important;
       }

       #port_header_menu > #logo {
               display: block !important;
               width: 25px !important;
               height: 20px !important;
               background-size: cover !important;
               position: relative !important;
               float: left !important;
               top: 0px !important;
               left: 0px !important;
               margin: 7px 0px !important;
       }

       #port_header_menu > ul {
               width: auto !important;
               text-align: left !important;
               padding-left: 10px !important;
               height: 44px !important;
               float: left !important;
       }

       #port_header_menu > ul li {
               height: 44px !important;
               padding: 0px 7px !important;
       }

       #port_header_menu > ul li > a {
               height: 44px !important;
               line-height: 44px !important;
               width: auto !important;
               font-size: 12px !important;

       }

       #port_cool_works {
               width: 100% !important;
               margin: 44px 0px 0px 0px !important;
               padding: 0px !important;
               float: left !important;
       }

       #port_sort {
               width: auto !important;
               height: 15px !important;
               padding: 10px 0px 10px 20px !important;
               line-height: 15px !important;
               text-align: left !important;
       }

       #port_sort a {
               height: 15px !important;
               line-height: 15px !important;
               font-size: 12px !important;
               float: left !important;
               margin-right: 8px !important; 
       }

        #port_back {
                display: none !important;
        }

        .blog_post_container {
                width: 100% !important;
                float: left !important;
        }
      
        .port_pic {
                display: block !important;
                width: 250px !important;
                margin: 0px auto !important;
                float: none !important;
        }

        .port_desc {
                display: none !important;
        }

        .port_desc_mob {
                float: left !important;
                display: block !important;
                width: 100% !important;
                margin: 0px !important;
        }

        .port_desc_text {
                width: 240px !important;
                height: auto;
                margin: 50px auto 10px auto !important;
                text-align: center !important;
        }
 
        img.blog_post_thumbnail {
                margin: 0px;
        }

.port_desc_text, .port_desc_text span  { 
        font-family: PN, Arial, sans-serif !important;
        font-size: 15px !important;
        color: #726a7b !important;
}

.port_desc_text strong { 
        font-family: PN, Arial, sans-serif !important;
        font-size: 15px !important;
        color: #433e48 !important;
}

.mobmob {
    float: none !important;
    margin: 10px auto !important;
}

.site_mob_full {
    position: relative !important;
    margin: 0 auto -150px auto;
    left: 0px !important;
    top: 0px !important; 
}

/*---------------------------------------------CONTACTS-MODAL--------------------------------------------------*/

      #contacts_modal {
            width: 300px !important;
            height: 330px !important;
            padding: 0px !important;
            margin-top: 10px !important;
            border-top: 0px solid #dfcff0;
      }

      #contacts_title_modal {
            display: block !important;
            font-size: 15px !important;
            width: 100% !important;
            height: 15px !important;
            float: left;
            text-align: center !important;
            line-height: 15px !important;
            margin-top: 7px !important;
            margin-bottom: 7px !important;
      }

      #contacts_desc_modal {
            width: 260px !important;
            padding: 0px 20px !important;
            height: auto !important;
      }

      #contacts_address_modal {
            font-size: 12px !important;
            line-height: 16px !important;
      }

      #contacts_address_modal > span {
            font-size: 12px !important;
      }


      #contacts_phone_modal {
             display: block !important;
             padding: 0px !important;
             margin-top: 7px !important;
             width: auto !important;
             height: 14px !important;
             line-height: 14px !important;
             background-image: none !important;
             font-size: 12px !important;
      }

      #contacts_phone_modal > b {
             display: inline !important;
      }

      #contacts_phone_modal > span {
             font-size: 12px !important;
      } 


      #contacts_mail_modal {
             display: block !important;
             padding: 0px !important; 
             margin-top: 10px !important;
             width: auto !important;
             height: 14px !important;
             text-align: left !important;
             line-height: 14px !important;
             background-image: none !important;
             font-size: 12px !important;
      }

      #contacts_mail_modal > b {
             display: inline !important;
      }

      .contacts_callback_modal {
             display: block !important;
             padding: 0px !important; 
             margin-top: 10px !important;
             width: auto !important;
             height: 14px !important;
             text-align: left !important;
             line-height: 14px !important;
             background-image: none !important;
             font-size: 12px !important;
      }

      .contacts_callback_modal > b {
             display: inline !important;
      }

      #contacts_map_modal {
             width: 300px !important;
             height: 185px !important;
             margin-top: 10px !important;
             float: right !important;
      }
}













.only_mobile {
       display: none;
}








body {
    background:#fff;
        font-family: PN, Arial, sans-serif;
        font-size: 14px;
}

a:link, a:visited {
    color: #857e8d;
    text-decoration:underline;
}
a:hover, a:focus {
    color: #857e8d;
    text-decoration:none;
}   

b, strong {
        font-weight: bold;
}

i {
        font-style: italic;
}

input, textarea {
        border-radius: 0px;
        padding: 0;
        -webkit-appearance: none;
}

input[type="text"] {
        display: block;
        height: 38px;
        border: 1px solid #cabbd9;
        font-family: PN, Arial, sans-serif;
        font-size: 13px;
        color: #726a7b;
        padding-left: 10px;
        margin-bottom: 15px;
        -webkit-appearance: none;
}



.port_link:hover {
        text-decoration: none !important;
}

::-webkit-input-placeholder {color: #998da4;}
::-moz-placeholder          {color: #998da4;}/* Firefox 19+ */
:-moz-placeholder           {color: #998da4;}/* Firefox 18- */
:-ms-input-placeholder      {color: #998da4;}

 
#header_bg {
        width: 100%;
        height: 670px;
        position: relative;
        overflow: hidden;
        background-image: url(/theme/Innovation/images/header_bg.jpg);
        background-position: top center;
        background-size: cover;
        z-index: 1;
}

#header_bg > img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        position: relative;
        z-index: 2;
}

#header_shadow {
        position: absolute;
        width: 100%;
        top: 0px;
        height: 670px;
        background-image: url(images/header_shadow.png);
        background-repeat: repeat;
        z-index: 3;
}



#wrapper {
    width: 1020px;
        height: auto;
    margin: 0 auto;
    position:relative;
        margin-top: -670px;
        z-index: 4;
    display:block;
}



/*-----------------------------------------HEADER------------------------------------------*/

#header_menu_container {
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 5000;
}

#header_menu {
        width: 940px;
        height: 80px;
        margin: 0 auto;
}

#header_menu  #logo {
        display: block;
        width: 50px;
        height: 40px;
        background-image: url(/theme/Innovation/images/logo.png);
        background-position: left top;
        background-repeat: no-repeat;
        position: relative;
        float: left;
        top: 20px;
}

#header_menu > ul {
        display: table;
        list-style: none;
        margin: 0;
        width: 865px;
        text-align: right;
        padding-left: 25px;
        height: 80px;
        position: relative;
        float: right;
}

@media only screen and (max-width: 980px) {
        #header_menu > ul {
              display: none;
        }
}

#header_menu > ul li {
        display: table-cell;
        text-align: center;
        height: 80px;
        
}

#header_menu > ul li > a {
        display: block; 
        height: 80px;
        line-height: 80px;
        width: auto;
        font-family: PNSB, Arial, sans-serif;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
}

#header_menu > ul li > a:hover {
        color: #cabbd9;
}


#header_slogan {
        width: 620px;
        height: 21px;
        margin: 0 auto;
        margin-top: 212px;
}

.header_slogan_line {
        width: 60px;
        height: 3px;
        margin: 9px 0px;
        position: relative;
        float: left;
        background-color: #726a7b;
}

#header_slogan_text {
        width: 500px;
        height: 21px;
        float: left;
        line-height: 21px;
        text-align: center;
        font-family: PN, Arial, sans-serif;
        font-size: 20px;
        color: #cabbd9;
}


#header_description { 
        width: 940px;
        height: 48px;
        line-height: 48px;
        margin: 0 auto;
        font-family: PNEB, Arial, sans-serif;
        font-size: 48px;
        color: #fffffe;
        text-align: center;
}

#header_where {
        width: 312px;
        height: 54px;
        line-height: 54px;
        margin: 0 auto;
        margin-top: 28px;
        text-align: center;
        background-color: #726a7b;
        font-family: PNEB, Arial, sans-serif;
        font-size: 40px;
        color: #cabbd9;
}


#header_contacts {
        width: 960px;
        height: 130px;
        margin: 0 auto;
        margin-top: 145px;
        background-image: url(images/header_contacts_bg.png);
        background-repeat: repeat;
}

#header_phone_image {
        display: block; 
        width: 134px;
        height: 130px;
        background-image: url(images/phone_header.png);
        background-position: right center;
        background-repeat: no-repeat;
        float: left;
}

#header_phone {
        display: block;
        width: 153px; 
        padding-left: 23px;
        height: 130px;
        line-height: 130px;
        font-family: PN, Arial, sans-serif;
        font-size: 16px;
        color: #ffffff;
        float: left;
        text-align: left;
}


#header_mail_image {
        display: block; 
        width: 84px;
        height: 130px;
        background-image: url(images/mail_header.png);
        background-position: right center;
        background-repeat: no-repeat;
        float: left;
}

#header_mail {
        display: block;
        width: 135px; 
        padding-left: 20px;
        height: 50px;
        line-height: 50px;
        margin: 40px 0px;
        font-family: PN, Arial, sans-serif;
        font-size: 20px;
        color: #ffffff;
        float: left;
        text-align: left;
        text-decoration: underline;
}

#header_mail:hover {
        text-decoration: none;
}


#header_callback_image {
        display: block; 
        width: 73px;
        height: 130px;
        background-image: url(images/callback_header.png);
        background-position: right center;
        background-repeat: no-repeat;
        float: left;
}

#header_callback {
        display: block;
        width: 275px; 
        padding-left: 20px;
        height: 50px;
        margin: 40px 0px;
        line-height: 50px;
        font-family: PN, Arial, sans-serif;
        font-size: 20px;
        color: #ffffff;
        float: left;
        text-align: left;
        text-decoration: underline;
        cursor: pointer;
}



#header_callback:hover {
        text-decoration: none;
}

#white_indent {
        width: 960px;
        height: 32px;
        margin: 0 auto;
        background-color: #fff;
}



/*-----------------------------------CONTENT--------------------------------------*/


#content_shadow {
        width: 960px;
        padding: 0px 30px;
        height: auto;
        margin: 0 auto;
        background-image: url(images/content_shadow.png);
        background-position: center top;
        background-repeat: repeat-y;
}

#content_shadow_end {
        width: 960px;
        padding: 0px 30px;
        height: 75px;
        margin: 0 auto;
        background-image: url(images/content_shadow_end.jpg);
        background-position: center top;
        background-repeat: no-repeat;
}

#main_content {
        width: 960px;
        height: auto;
}


#content_proposition {
        display: block;
        width: 960px;
        height: 40px;
        position: relative;
        top: -1px;
        background-color: #fff;
        font-size: 35px;
        line-height: 40px;
        text-align: center;
        font-family: PN, Arial, sans-serif;
        font-weight: bold;
        color: #433e48;
}


#prop1 {
       width: 960px;
       height: 472px;
       margin-top: 37px;
       border-bottom: 1px solid #dfcff0;
       position: relative;
}

#prop1 img {
       float: left;
       margin-left: 74px;
}

#prop1 p {
       font-family: PN, Arial, sans-serif;
       display: block; 
    /*
       width: 380px;
       padding-right: 30px;      
       padding-left: 60px;
    */
       width: 400px;
       padding-right: 26px;      
       padding-left: 52px;
    
       float: left;
       font-size: 16px;
       line-height: 24px;
       color: #726a7b;
}

#prop1 span {
       font-family: PNL, Arial, sans-serif;
       display: block;
       font-size: 30px;
       line-height: 35px;
       margin-bottom: 22px;
       color: #433e48;
}

#prop1Link {
    display: block;
    width: 233px;
    height: 28px;
    background: #726a7b;
    font-family: Arial Black, PNSB, Arial, sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 0;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 14px;
    padding-top: 13px;
    position: absolute;
    top: 276px;
    left: 534px;
}


#prop2 {
       width: 960px;
       height: 364px;
       margin-top: 68px;
       border-bottom: 1px solid #dfcff0;
}

#prop2 img {
       float: right;
}

#prop2 p {
       font-family: PN, Arial, sans-serif;
       display: block; 
       width: 360px;
       padding-left: 30px;
       float: left;
       font-size: 16px;
       line-height: 24px;
       color: #726a7b;
}

#prop2 span {
       font-family: PNL, Arial, sans-serif;
       display: block;
       font-size: 30px;
       line-height: 35px;
       margin-bottom: 22px;
       color: #433e48;
}




#prop3 {
       width: 960px;
       height: 335px;
       margin-top: 69px;
       border-bottom: 1px solid #dfcff0;
}

#prop3 img {
       float: left;
       margin-left: 25px;
}

#prop3 p {
       font-family: PN, Arial, sans-serif;
       display: block; 
       width: 380px;
       padding-right: 30px;
       float: right;
       font-size: 16px;
       line-height: 24px;
       color: #726a7b;
}

#prop3 span {
       font-family: PNL, Arial, sans-serif;
       display: block;
       font-size: 30px;
       line-height: 35px;
       margin-bottom: 22px;
       color: #433e48;
}




#prop4 {
       width: 960px;
       height: 522px;
       margin-top: 69px;
       border-bottom: 1px solid #dfcff0;
}

#prop4 img {
       float: right;
}

#prop4 p {
       font-family: PN, Arial, sans-serif;
       display: block; 
       width: 370px;
       padding-left: 30px;
       float: left;
       font-size: 16px;
       line-height: 24px;
       color: #726a7b;
}

#prop4 span {
       font-family: PNL, Arial, sans-serif;
       display: block;
       font-size: 30px;
       line-height: 35px;
       margin-bottom: 22px;
       color: #433e48;
}





#prop5 {
       width: 960px;
       height: 490px;
       margin-top: 69px;
       border-bottom: 1px solid #dfcff0;
}

#prop5 img {
       float: left;
       margin-left: 155px;
}

#prop5 p {
       font-family: PN, Arial, sans-serif;
       display: block; 
       width: 380px;
       padding-right: 30px;
       float: right;
       font-size: 16px;
       line-height: 24px;
       color: #726a7b;
}

#prop5 span {
       font-family: PNL, Arial, sans-serif;
       display: block;
       font-size: 30px;
       line-height: 35px;
       margin-bottom: 22px;
       color: #433e48;
}



#prop6 {
       width: 960px;
       height: 340px;
       margin-top: 69px;

}

#prop6 img {
       float: right;
       margin-right: 46px;
}

#prop6 p {
       font-family: PN, Arial, sans-serif;
       display: block; 
       width: 370px;
       padding-left: 97px;
       padding-top: 50px;
       float: left;
       font-size: 16px;
       line-height: 24px;
       color: #726a7b;
}

#prop6 span {
       font-family: PNL, Arial, sans-serif;
       display: block;
       font-size: 30px;
       line-height: 35px;
       margin-bottom: 22px;
       color: #433e48;
}

/*----------------------------------------SMETA------------------------------------------*/


#couple_questions {
       display: block;
       width: 660px;
       height: 25px;
       line-height: 25px;
       text-align: center;
       font-family: PN, Arial, sans-serif;
       font-size: 22px;
       color: #726a7b;
       margin: 0 auto;
       margin-top: 89px;
}

#make_smeta {
       display: block;
       position: relative;
       top: -4px;
       width: 940px; 
       height: 35px;
       line-height: 35px;
       text-align: center;
       font-family: PN, Arial, sans-serif;
       font-weight: bold;
       font-size: 35px;
       color: #433e48;
       margin: 0 auto;
       margin-bottom: 3px;
}

.smeta_about {
       display: block;
       width: 660px;
       height: auto; 
       margin: 0 auto;
       margin-top: 29px;
       text-align: justify;
       font-family: PN, Arial, sans-serif;
       font-size: 16px;
       color: #726a7b;
}

#smeta_form {
       width: 433px;
       padding-right: 227px;
       background-image: url(images/smeta11.jpg);
       background-position: right top;
       background-repeat: no-repeat;
       margin: 0 auto;
       height: 341px;
       margin-top: 38px;
     
     position: relative;
}
#DayPlus
{
  position: absolute; 
  right: 15px; 
  top: 145px;
  font-size: 16px;
  text-align: center;
}

#name {
       width: 421px;
}

#phone {
       width: 201px;
       float: left;
}

#email {
       width: 193px;
       float: right;
}

#service {
       width: 421px;
}

#question {
       resize: none;
       display: block;
       padding: 8px 10px;
       width: 411px;
       height: 97px;
       border: 1px solid #cabbd9;
       font-family: PN, Arial, sans-serif;
       font-size: 13px;
       color: #726a7b;
       margin-bottom: 15px;
}


#smeta_success {
       display:none;
       width: 157px;
       height: 40px;
       float: right;
       text-align: center;
       line-height: 40px;
       font-family: PN, Arial, sans-serif;
       font-size: 16px;
       color: #726a7b;
}

#smetaSuccessWindow
{
  position: absolute;
  width: 560px;
  height: 200px;
  left: 50px;
  top: 30px;
  background: #726a7b;
  z-index: 100;
  border: 2px solid #433e48;
}

#smetaKrestik {
  position: absolute;
  top: 20px;
  right: 20px;
}

#smetaKrestik:hover {
  cursor: pointer;
}

#smetaWindowText {
  font-family: PN, Arial, sans-serif;
    font-size: 18px;
  color: white;
  text-align: center;
  padding-top: 71px;
}

.default {
  display: none;
}
.fixed {
  display: block;
}

#four_hours {
       font-family: PNSB, Arial, sans-serif;
       font-style: italic;
       text-align: left;
       display: block;
       width: 276px;
       overflow: hidden;
       height: 40px;
       line-height: 40px;
       float: left;
       font-size: 11.4px;
       color: #726a7b;
}

#send_smeta {
       display: block;
       width: 157px;
       height: 40px;
       float: right;
    
        background: #726a7b;
        border: none;
        border-radius: 0;
        color: white;
        font-family: PNSB, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 13px;
}

#smeta_form_indent {
       width: 940px;
       height: 40px;
       margin: 0 auto;
       border-bottom: 1px solid #dfcff0;
}

/*---------------------------------------PORTFOLIO---------------------------------------------*/


#portfolio_title {
       width: 300px;
       heigth: 40px;
       display: block;
       text-align: center;
       margin: 0 auto;
       font-family: PN, Arial, sans-serif;
       font-size: 35px;
       font-weight: bold;
       color: #433e48;
       margin-top: 81px;
}


#portfolio_see_all {
              width: 160px;
              height: 18px;
              line-height: 18px;
              display: block;

              position: relative;
              top: -27px;
              right: -197px;
              text-align: left;
              margin: 0 auto;

              font-family: PNSB, Arial, sans-serif;
              font-style: italic;
              font-size: 14px;
              font-weight: bold;
              color: #726a7b;
              text-decoration: underline;
}

#portfolio_see_all:hover {
       text-decoration: none;
}


#all_works_text {
       width: 620px;
       height: 40px;
       margin: 0 auto;
       margin-top: 22px;
       margin-bottom: 88px;
}

#all_works_text > span {
       width: 220px;
       height: 40px;
       line-height: 40px;
       text-align: left;
       font-family: PNSB, Arial, sans-serif;
       font-size: 12px;
       font-style: italic;
       color: #726a7b;
       float: left;
}

#all_works_text > a {
       display: block;
       width: 181px;
       height: 40px; 
       float: left;
       background-color: #433E48;
       line-height: 40px;
       color: #fff;
       font-family: PNSB, Arial, sans-serif;
       font-size: 13px;
       text-align: center;
       text-decoration: none;
}



/*------------------------------------PROUD---------------------------------------------*/

#proud_background {
       width: 100%;
       height: 1234px;
       float: left;
       position: relative;
       background-color: #f5f2f2;
}


#proud_title {
       display: block;
       width: 940px;
       height: 35px; 
       line-height: 35px;
       margin: 0 auto;
       font-family: PN, Arial, sans-serif;
       font-size: 35px;
       font-weight: bold;
       color: #433e48;
       text-align: center;
       margin-top: 38px;
}

#proud_desc {
       display: block;
       width: 940px;
       height: 22px; 
       line-height: 22px;
       margin: 0 auto;
       font-family: PN, Arial, sans-serif;
       font-size: 22px;
       color: #726a7b;
       text-align: center;
       margin-top: 2px;
}


#proud_container {
       width: 940px;
       height: auto;
       margin: 0 auto;
       margin-top: 41px;
       overflow: auto;
}


#proud1 {
       width: 458px;
       height: 476px;
       border: 1px solid #dfcff0;
       float: left;
}

#proud1 > h2 {
       display: block;
       width: 418px;
       height: 132px;
       font-weight: normal;
       font-family: PNL, Arial, sans-serif;
       font-size: 30px;
       color: #726a7b;
       text-align: left;
       padding: 23px 20px 0px 20px
}

#proud1 > img {
       display: block;
       float: left;
       margin-left: 20px;
}


#proud1 > p {
       display: block;
       float: right;
       width: 235px;
       font-family: PN, Arial, sans-serif;
       font-size: 16px;
       padding-right: 5px;
       color: #726a7b;
       text-align: left;
       line-height: 24px;
}


#proud1 span {
       font-size: 13px;
       display: block;
       margin-top: 25px;
}


#proud1 > a {
       width: 127px;
       height: 40px;
       display: block;
       float: right;
       background-color: #726a7b;
       line-height: 40px;
       text-align: center;
       font-family: PNSB, Arial, sans-serif;
       font-size: 13px;
       color: #ffffff;
       text-decoration: none;
       margin-right: 113px;
       margin-top: 63px;
}




#proud2 {
       width: 458px;
       height: 476px;
       border: 1px solid #dfcff0;
       float: right;
}

#proud2 > h2 {
       display: block;
       width: 418px;
       height: 132px;
       font-weight: normal;
       font-family: PNL, Arial, sans-serif;
       font-size: 30px;
       color: #726a7b;
       text-align: left;
       padding: 23px 20px 0px 20px
}

#proud2 > img {
       display: block;
       float: left;
       margin-left: 20px;
}


#proud2 > p {
       display: block;
       float: right;
       width: 235px;
       font-family: PN, Arial, sans-serif;
       font-size: 16px;
       padding-right: 5px;
       color: #726a7b;
       text-align: left;
       line-height: 24px;
}


#proud2 span {
       font-size: 13px;
       display: block;
       margin-top: 25px;
}


#proud2 > a {
       width: 127px;
       height: 40px;
       display: block;
       float: right;
       background-color: #726a7b;
       line-height: 40px;
       text-align: center;
       font-family: PNSB, Arial, sans-serif;
       font-size: 13px;
       color: #ffffff;
       text-decoration: none;
       margin-right: 113px;
       margin-top: 15px;
}





#proud3 {
       width: 938px;
       height: 299px;
       margin-top: 20px;
       border: 1px solid #dfcff0;
       float: left;
}

#proud3 > h2 {
       display: block;
       width: 898px;
       height: 65px;
       font-weight: normal;
       font-family: PNL, Arial, sans-serif;
       font-size: 30px;
       color: #726a7b;
       text-align: left;
       padding: 23px 20px 0px 20px
}

#proud3  #pod_img1 {
       display: block;
       float: left;
       width: 231px;
       height: 182px;
       margin-left: 20px;
}

#proud3  #pod_img2 {
       display: block;
       float: right;
       width: 231px;
       height: 182px;
       margin-right: 20px;
}

#proud3 > p {
       display: block;
       float: left;
       width: 396px;
       padding: 0px 20px;
       font-family: PN, Arial, sans-serif;
       font-size: 16px;
       color: #726a7b;
       text-align: left;
       line-height: 24px;
}


#proud3 span {
       font-size: 13px;
       display: block;
       width: 396px;
       float: left;
       margin-top: 25px;
}


#proud3  a {
       width: 127px;
       height: 40px;
       display: block;
       float: left;
       background-color: #726a7b;
       line-height: 40px;
       text-align: center;
       font-family: PNSB, Arial, sans-serif;
       font-size: 13px;
       color: #ffffff;
       text-decoration: none;
       margin-top: 15px;
}

#proud4 {
       width: 938px;
       height: 252px;
       margin-top: 20px;
       border: 1px solid #dfcff0;
       float: left;
        position: relative;
    display: none;
}

#proud4 > h2 {
       font-weight: normal;
       font-family: PNL, Arial, sans-serif;
       font-size: 30px;
       line-height: 48px;
       color: #726a7b;
       text-align: left;
       padding: 56px 0px 0px 20px
}

#proud4 #h2ForMob {
    display: none;
}

#proud4 img {
    position: absolute;
    top: 37px;
}

#proud4 #gal_img1 {
    left: 401px;
}

#proud4 #gal_img2 {
    left: 691px;
}

#proud5 {
       width: 938px;
       height: 236px;
       margin-top: 20px;
       border: 1px solid #dfcff0;
       float: left;
        position: relative;
}

#proud5 > h2 {
       font-weight: normal;
       font-family: PNL, Arial, sans-serif;
       font-size: 30px;
       line-height: 48px;
       color: #726a7b;
       text-align: left;
       padding: 48px 0px 0px 20px
}

#proud5 #h2ForMob2 {
    display: none;
}

#proud5 img {
    position: absolute;
    top: 30px;
}

#proud5 #lux_img1 {
    left: 401px;
}

#proud5 #lux_img2 {
    left: 691px;
}

/*-----------------------------------CLIENTS--------------------------------------*/

#clients_container {
       float: left;
       width: 100%;
       height: 499px;
       position: relative;
}

#clients_title {
       display: block;
       font-weight: bold;
       font-family: PN, Arial, sans-serif;
       font-size: 35px;
       color: #433e48;
       text-align: center;
       width: 780px;
       height: 35px;
       line-height: 35px;
       margin: 0 auto;
       margin-top: 84px;

}

#client_pics {
       width: 800px;
       height: 380px;
       margin: 0px auto;
}

.client_pic {
      display: block;
      width: 169px;
      height: 120px;
      padding: 0px;
      position: relative;
      float: left;
      border: 1px solid #b2b9c0;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(44, 63, 82, 0.75);
      -moz-box-shadow:    0px 0px 5px 0px rgba(44, 63, 82, 0.75);
      box-shadow:         0px 0px 5px 0px rgba(44, 63, 82, 0.75);
}

.main_pic {
      -webkit-box-shadow: 0px 0px 30px 0px rgba(44, 63, 82, 0.75);
      -moz-box-shadow:    0px 0px 30px 0px rgba(44, 63, 82, 0.75);
      box-shadow:         0px 0px 30px 0px rgba(44, 63, 82, 0.75);
}

/*---------------------------------------------РџСЂРµРёРјСѓС‰РµСЃС‚РІР°--------------------------------------------------*/

#preim_container {
    width: 100%;
    margin: 0 auto;
    float: left;
    height: 620px;
}

#preim {
    width: 960px;
    margin: 0 auto;
    height: 560px;
    margin-top: 40px;
    position: relative;
    box-shadow: 0 0 25px rgba(0,0,0,0.3); /* РџР°СЂР°РјРµС‚СЂС‹ С‚РµРЅРё */
}

#preimH2 {
    font-family: PN, Arial, sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    padding-top: 37px;
    color: #69656d;
}

#preim #preimImg1, #preimImg2, #preimImg3 {
    position: absolute;
    top: 106px;
}

#preimImg1 {
     left: 81px; 
}

#preimImg2 {
     left: 394px; 
}

#preimImg3 {
     left: 713px; 
}

#preim #preimText1_1, #preimText1_2, #preimText1_3 {
    position: absolute;
    top: 280px;
    font-family: PN, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #726a7b;
    line-height: 30px;
}

#preimText1_1 {
    left: 95px;
}

#preimText1_2 {
    left: 370px;
}

#preimText1_3 {
    left: 690px;
}

#preim #preimText2_1 {
    position: absolute;
    top: 400px;
    font-family: PN, Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #726a7b;
    line-height: 60px;
    width: 960px;
}

#preimImg4 {
    position: absolute;
    top: 403px ;
    left: 184px;
}

#preimImg5 {
    position: absolute;
    top: 462px ;
    left: 143px;
}

/*---------------------------------------------CONTACTS--------------------------------------------------*/

#contacts_container {
         width: 100%;
         height: 540px;
         margin: 0 auto;
         float: left;
}


#contacts {
         width: 940px;
         height: 500px;
         background-color: #fff;
         margin: 0 auto;
        
}

#contacts_title {
       display: block;
       font-weight: bold;
       font-family: PN, Arial, sans-serif;
       font-size: 35px;
       color: #433e48;
       text-align: center;
       width: 780px;
       height: 35px;
       line-height: 35px;
       margin: 0 auto;
       margin-top: 45px;
       margin-bottom: 33px;
}

#contacts_desc {
       width: 300px;
       padding-right: 20px;
       height: 355px;
       float: left; 
}

#contacts_address {
       display: block;
       font-family: PN, Arial, sans-serif;
       font-size: 16px;
       line-height: 24px;
       color: #726a7b;
}

#contacts_address > span {
       font-size: 18px;
}


#contacts_phone {
       display: block;
       padding-left: 70px;
       margin-top: 31px;
       width: 170px;
       height: 50px;
       text-align: left;
       line-height: 50px;
       background-image: url(images/phone_header.png);
       background-position: left center;
       background-repeat: no-repeat;
       font-family: PN, Arial, sans-serif;
       font-size: 14px;
       color: #726a7b;
}

#contacts_phone > b {
       display: none;
}

#contacts_phone > span {
       font-size: 20px;
} 


#contacts_mail {
       display: block;
       padding-left: 70px; 
       margin-top: 20px;
       width: 170px;
       height: 50px;
       text-align: left;
       line-height: 50px;
       background-image: url(images/mail_header.png);
       background-position: left center;
       background-repeat: no-repeat;
       font-family: PN, Arial, sans-serif;
       font-size: 20px;
       color: #726a7b;
       text-decoration: underline;
}

#contacts_mail > b {
       display: none;
}

#contacts_mail:hover {
       text-decoration: none;
}

#contacts_map {
       width: 620px;
       height: 355px;
       float: right;
}

#work_from {
       display: block;
       height: 72px;
       line-height: 72px;
       width: 940px;
       text-align: center;
       font-family: PNSB, Arial, sans-serif;
       font-size: 13px;
       color: #726a7b;
}


/*-----------------------------TOUP------------------------------*/

#toup {
        background-image: url(images/to_up.png);
        background-position: left top;
        background-repeat: no-repeat;
        z-index: 10;
}

#toup:hover {
        background-image: url(images/to_up_hover.png);
}







/*--------------------------------------------------PORTFOLIO----------------------------------------------------*/

#port_header_menu_container {
       width: 100%;
       height: 80px;
       position: fixed;
       top: 0px;
       left: 0px;
       z-index: 10;
       background-color: #433e48;
}

#port_header_menu {
        width: 940px;
        height: 80px;
        background-color: #433e48;
        margin: 0 auto;
        position: relative;
}

#port_header_menu > #logo {
        display: block;
        width: 50px;
        height: 40px;
        background-image: url(images/logo.png);
        background-position: left top;
        background-repeat: no-repeat;
        position: relative;
        float: left;
        top: 20px;
}

#port_header_menu > ul {
        display: block;
        list-style: none;
        margin: 0;
        width: 845px;
        text-align: right;
        padding-left: 45px;
        height: 80px;
        position: relative;
        float: right;
}

#port_header_menu > ul li {
        display: block;
        float: left;
        height: 80px;
        padding: 0px 16px;
}

#port_header_menu > ul li > a {
        display: block; 
        height: 80px;
        line-height: 80px;
        width: auto;
        font-family: PNSB, Arial, sans-serif;
        font-size: 16px;
        color: #fff;
        text-decoration: none;

}

#port_header_menu > ul li > a:hover {
        color: #cabbd9;
        cursor: pointer;
}



    /* РўРµР»РµС„РѕРЅ Рё Р·Р°РєР°Р· Р·РІРѕРЅРєР° РІ С€Р°РїРєРµ СЃС‚СЂР°РЅРёС†С‹ РїРѕСЂС‚С„РѕР»РёРѕ. РќР°С‡Р°Р»Рѕ */
#port_header_menu #header_callback {
    position: absolute;
    top: 15px;
    right: 0px;
    margin: 0;
    font-size: 16px;
    text-align: right;
}
#callBackImg {
    position: absolute;
    top: 20px;
    right: 215px;
    width: 41px;
}

#callBackImgPhone {
    position: absolute;
    top: 20px;
    right: 432px;
    width: 41px;
}

#portHeaderPhone {
    font-family: PN, Arial, sans-serif;
    font-size: 16px;
    color: white;
    position: absolute;
    top: 32px;
    text-align: right;
    right: 296px;
}

#portHeaderPhone #bigNumber{
    font-size: 17px;
}

@media only screen and (max-width: 980px) {
    
    #port_header_menu #header_callback {
        position: relative !important;
        top: -10px !important;
        left: 0;
        margin: 0;
        font-size: 8px !important;
        text-align: left;
        width: 100% !important;
        padding-right: 0 !important;
    }
    
    #callBackImg {
        display: none;
    }

    #callBackImgPhone {
        display: none;
    }

    #portHeaderPhone {
        font-family: PN, Arial, sans-serif;
        font-size: 7px;
        color: white;
        display: block;
        position: relative;
        top: 0px;
        left: 0px;
        text-align: center;
        width: 100%;
        margin-top: 5px;
    }

    #portHeaderPhone #bigNumber{
        font-size: 10px;
    }
    
    #protfHeaderContact {
        float: right;
        height: 36px;
        width: 110px;
        margin-top: 4px;
        border-left: 1px solid rgba(255, 255, 255, 0.2) ;
        position: relative;
    }
}

    /* РўРµР»РµС„РѕРЅ Рё Р·Р°РєР°Р· Р·РІРѕРЅРєР° РІ С€Р°РїРєРµ СЃС‚СЂР°РЅРёС†С‹ РїРѕСЂС‚С„РѕР»РёРѕ. РљРѕРЅРµС† */



#port_cool_works {
        min-height: 200px;
        width: 940px;
        margin: 80px auto 0px auto;
        position: relative;
        z-index: 9;
}

#port_sort {
        width: 940px;
        height: 20px;
        padding: 50px 0px;
        line-height: 20px;
        text-align: left;
}

#port_sort a {
        display: block; 
        width: auto;
        height: 20px;
        line-height: 20px;
        text-align: left;
        font-family: PNSB, Arial, sans-serif;
        font-size: 16px;
        color: #433e48;
        float: left;
        margin-right: 27px; 
        text-decoration: underline; 
}

.port_desc {
        width: 635px;
        height: auto;
        /*float: left; */
}

.port_desc_mob {
        display: none;
}

#port_sort a:hover {
        color: #000;
}

#port_back {
        display: block;
        width: 79px;
        height: 40px;
        float: right;
        position: relative;
        top: 120px;
        background-image: url(/theme/Innovation/images/back.png);
        background-repeat: no-repeat;
}

.blog_post_content, .blog_post_content span  { 
        font-family: PN, Arial, sans-serif !important;
        font-size: 15px !important;
        color: #726a7b !important;
}

.blog_post_content strong { 
        font-family: PNSB, Arial, sans-serif !important;
        font-size: 15px !important;
        color: #433e48 !important;
}





/*---------------------------------------------CONTACTS-MODAL--------------------------------------------------*/



#contacts_modal {
         width: 940px;
         height: 420px;
         background-color: #fff;
         margin: 0 auto;
}

#contacts_title_modal {
       display: block;
       font-weight: bold;
       font-family: PN, Arial, sans-serif;
       font-size: 35px;
       color: #433e48;
       text-align: left;
       width: auto;
       height: 35px;
       line-height: 35px;
       margin-top: 14px;
       margin-bottom: 14px;
}

#contacts_desc_modal {
       width: 290px;
       padding: 0px 20px;
       height: 420px;
       float: right; 
}

#contacts_address_modal {
       display: block;
       font-family: PN, Arial, sans-serif;
       font-size: 16px;
       line-height: 24px;
       color: #726a7b;
}

#contacts_address_modal > span {
       font-size: 18px;
}


#contacts_phone_modal {
       display: block;
       padding-left: 70px;
       margin-top: 31px;
       width: 170px;
       height: 50px;
       text-align: left;
       line-height: 50px;
       background-image: url(images/phone_header.png);
       background-position: left center;
       background-repeat: no-repeat;
       font-family: PN, Arial, sans-serif;
       font-size: 14px;
       color: #726a7b;
}

#contacts_phone_modal > span {
       font-size: 20px;
} 

#contacts_phone_modal b {
       display: none;
}

#contacts_mail_modal {
       display: block;
       padding-left: 70px; 
       margin-top: 20px;
       width: 170px;
       height: 50px;
       text-align: left;
       line-height: 50px;
       background-image: url(images/mail_header.png);
       background-position: left center;
       background-repeat: no-repeat;
       font-family: PN, Arial, sans-serif;
       font-size: 20px;
       color: #726a7b;
       text-decoration: underline;
}

#contacts_mail_modal:hover {
       text-decoration: none;
}

#contacts_mail_modal b {
       display: none;
}


.contacts_callback_modal {
       display: block;
       padding-left: 70px; 
       margin-top: 20px;
       width: 220px;
       height: 50px;
       text-align: left;
       line-height: 50px;
       background-image: url(images/callback_header.png);
       background-position: left center;
       background-repeat: no-repeat;
       font-family: PN, Arial, sans-serif;
       font-size: 16.5px;
       color: #726a7b;
       text-decoration: underline;
       cursor: pointer;
}

.contacts_callback_modal:hover {
       text-decoration: none;
}

#contacts_map_modal {
       width: 590px;
       height: 420px;
       float: left;
}


#port_contacts {
       cursor: pointer;
}

/*-----------------------------------------CALLBACK--------------------------------------------*/

#callback_title {
        padding-top: 30px; 
        margin: 0 auto 0 auto; 
}





/* РўРёРїРѕРІС‹Рµ СЃС‚СЂР°РЅРёС†С‹ РґР»СЏ РјРѕР±РёР»СЊРЅРѕР№ РІРµСЂСЃРёРё */
    
#mobileTypeContent {
    width: 100%;
    min-height: 100px;
    margin: 0 auto;
    position: relative;
    margin-top: 34px;
}
    
#mobileTypeContent h2 {
    font-family: PN, Arial, sans-serif !important;
    font-size: 15px;
    color: #433e48;
    text-align: center;
    font-weight: normal;
    padding-top: 60px;
    margin-bottom: 8px;
}
    
#mobileTypeContent p {
    font-family: PN, Arial, sans-serif !important;
    font-size: 15px;
    color: #433e48;
    text-align: center;
    display: block;
    width: 80%;
    padding: 5% 10%;
    background: #dad5df;
}
    
#mobileTypeContent #buttonBack {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 39px;
    height: 20px;
    background: #8e8895;
    border: none;
    color: white;
    font-family: PN, Arial, sans-serif !important;
    font-size: 9px;
}



/* РћР±С…РѕРґРёРј РѕС‚Р»СЋС‡РµРЅРёРµ Р¶РёСЂРЅРѕРіРѕ С€СЂРёС„С‚Р° РІ С„Р°Р№Р»Рµ reset */
b {
    font-weight: bold !important;
}


































































































































































