//= template/head.html
<div id="wrapper">
    <div id="content_shadow">
        <div id="main_content">
            <span id="content_proposition">

                                        Что мы можем Вам предложить

                               </span>
            <div id="prop1">
                <span id="prop1_desc" style="display: none;"><a href="/sozdanie-sajtov-internet-magazinov-lyuboj-slozhnosti.html" class="MobileLink">Создание сайтов, интернет - магазинов любой сложности.</a></span>
                <div class="prop1_carousel_wrap">
                    <div class="prop1_carousel">
                        <div class="prop1_pc">
                            <div class="carousel_wrap">
                                <div class="carousel_device">
                                    <img src="img/pc.png" alt="">
                                </div>
                                <div id="s1" class="carousel" data-cycle-pause-on-hover="#s1,#s2,#s3">
                                    <img src="img/slider/1_d.jpg">
                                    <img src="img/slider/2_d.jpg">
                                    <img src="img/slider/3_d.jpg">
                                    <img src="img/slider/4_d.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="prop1_tablet">
                            <div class="carousel_wrap">
                                <div class="carousel_device">
                                    <img src="img/tablet.png" alt="">
                                </div>
                                <div id="s2" class="carousel" data-cycle-pause-on-hover="#s1,#s2,#s3">
                                    <img src="img/slider/1_t.jpg">
                                    <img src="img/slider/2_t.jpg">
                                    <img src="img/slider/3_t.jpg">
                                    <img src="img/slider/4_t.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="prop1_smartphone">
                            <div class="carousel_wrap">
                                <div class="carousel_device">
                                    <img src="img/smartphone.png" alt="">
                                </div>
                                <div id="s3" class="carousel" data-cycle-pause-on-hover="#s1,#s2,#s3">
                                    <img src="img/slider/1_p.jpg">
                                    <img src="img/slider/2_p.jpg">
                                    <img src="img/slider/3_p.jpg">
                                    <img src="img/slider/4_p.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            	<a href="/index.php?id=portfolio" id="prop1Link" target="_blank">Перейти в портфолио</a>
                <p>
                    <span>Создание сайтов, интернет - магазинов любой сложности.</span>
                    <font>
                        Гарантируем корректную работу сайта на любых устройствах. Каждый, созданный нами проект, проходит <b>неоднократное тестирование</b>. На это мы даем <b>пожизненную гарантию</b>. Если даже спустя несколько лет, найдётся ошибка в работе сайта, мы незамедлительно и без лишних вопросов устраним её.</font>
            		<a href="/index.php?id=portfolio" id="prop1Link" target="_blank">Перейти в портфолио</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="preim_container">
    <div id="preim">
        <h2 id="preimH2">Преимущества сотрудничества с нами</h2>
        <div class="preim_wrap">
            <div class="preim_row">
                <div class="preim_item">
                    <div class="preim_stat">1 000 000</div>
                    <div class="preim_text">
                        <p>Более миллиона показанных
                            <br />дизайн-макетов и мнений</p>
                    </div>
                </div>
                <div class="preim_item">
                    <div class="preim_stat">350</div>
                    <div class="preim_text">
                        <p>Более 350 созанных
                            <br />проектов</p>
                    </div>
                </div>
                <div class="preim_item">
                    <div class="preim_stat">400</div>
                    <div class="preim_text">
                        <p>Более 400 клиентов по всей
                            <br />России, но мы из Сыктывкара</p>
                    </div>
                </div>
            </div>
            <div class="preim_row">
                <div class="preim_item">
                    <div class="preim_stat">25</div>
                    <div class="preim_text">
                        <p>Более 25 ти сотрудников в
                            <br />команде, больше 16-и из них
                            <br />программисты</p>
                    </div>
                </div>
                <div class="preim_item">
                    <div class="preim_stat">2010</div>
                    <div class="preim_text">
                        <p>Год основания</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="preim_descr">
            <p>Гибкие системы оплаты. Рассрочка</p>
            <p>Гарантии, ответственность, порядочность</p>
        </div>
        <!--         <img src="img/preim1.png" alt="Преимущества" id="preimImg1">
        <img src="img/preim2.png" alt="Преимущества" id="preimImg2">
        <img src="img/preim3.png" alt="Преимущества" id="preimImg3">
        <p id="preimText1_1">Огромный опыт
            <br>с 2010 года</p>
        <p id="preimText1_2">Более 250
            <br>реализованных проектов</p>
        <p id="preimText1_3">Команда более,
            <br>чем из 14-ти опытнейших
            <br>сотрудников</p>
        <p id="preimText2_1">Гибкие системы оплаты. Рассрочка
            <br>Гарантии, ответственность, порядочность</p>
        <img src="img/preimGal.png" alt="Галочка" id="preimImg4">
        <img src="img/preimGal.png" alt="Галочка" id="preimImg5"> -->
    </div>
</div>
</div>
//= template/footer.html
